@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@config "../tailwind.config.js";
@plugin './../hero.ts';
/* Note: You may need to change the path to fit your project structure */
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

.sidebar-container {
    overflow: hidden;
}
/* .sidebar-container:hover .sidebar-dropdown-menu-open,
.sidebar-container:hover .relative.cursor-pointer.group:hover .sidebar-dropdown-menu {
    height: auto;
    transition: all 0.3s ease-in-out;
} */


.h-screen-w-nav{
    height: calc(100vh - 64px);
}
.min-h-screen-w-nav{
    min-height: calc(100vh - 64px);
}


* {
    scrollbar-width: thin;
}
